body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}
h4.title{
  color: #007AC0;
}
.h92{
	min-height: 91vh;	
}
.role{
  color: #172b4d !important;
}
button:hover, button:focus, button:active{
  box-shadow: none !important;
}
.card-header {
  color: white !important;
}
em, fieldset{
  font-style: normal !important;
  color: #8898aa !important;
  font-size: .875rem !important;
}
input::placeholder, input[type=date]:invalid::-webkit-datetime-edit, input:disabled {
  font-size: .875rem !important;
  color: #8898aa !important;
}
input{
  color: black !important;
  font-size: 1rem !important;
}
slider{
  color: "#007AC0" !important;
}
.MuiSlider-rail{
  color: lightgrey !important;
}
.notification-container{
  top: 75px !important;
}
textarea{
  height: calc(1.5em + 1.5rem + 5px) !important;
}
.nextBtn, .nextBtn:hover{
  background-color: #007AC0;
  color: white;
}
.invalide{
  border-color: red;
}
.form-placeholder{
  color: gray !important;
  font-size: 15px ! important;
}
.revenue{
  width: 70px;
}
.totTable{
  background-color: #007AC0;
  color: white;
  text-align: center !important;
}
.noBorder{
  border: none !important;
}
.yearTable{
  background-color: lightgray;
  color: white;
  text-align: center !important;
}
.table{
  text-align: center !important;
}
/* .btn-primary-outline, .btn-primary-outline:disabled{
  background-color: transparent !important;
  border-color: none !important;
} */