{% extends 'base.html.twig' %}

{% block title %}New Businessline{% endblock %}

{% block body %}
    <h1>Create new Businessline</h1>

    {{ include('businessline/_form.html.twig') }}

    <a href="{{ path('businessline_index') }}">back to list</a>
{% endblock %}
