{% extends 'base.html.twig' %}

{% block title %}Edit Businessunit{% endblock %}

{% block body %}
    <h1>Edit Businessunit</h1>

    {{ include('businessunit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('businessunit_index') }}">back to list</a>

    {{ include('businessunit/_delete_form.html.twig') }}
{% endblock %}
