{% extends 'base.html.twig' %}

{% block title %}New Userr{% endblock %}

{% block body %}
    <h1>Create new Userr</h1>

    {{ include('userr/_form.html.twig') }}

    <a href="{{ path('userr_index') }}">back to list</a>
{% endblock %}
